<h1>Olá mundo!</h1>
<form action="/book/insertbook" method="POST">
    <label for="">nome</label>
    <input type="text" name="nome">
    <label for="">idade</label>
    <input type="text" name="idade">
    <input type="submit" value="Enviar">
</form>

<a href="/todos">Ver Todos os registros</a>